/*Creació d'estils en fitxer extern:;
Aquest fitxet servirà per crear els estils del document en .html que desitjem treballar, 
en aquest cas, sera el .html "Apunts_Blog" perque es troben tots dos a la mateixa carpeta 
i en aquest cas no hem asignat cap ruta.*/
* {
	margin: 0;
	padding: 0;
}/*L'asterisc unifica a tots els elements de la pagina*/
h1 {
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
}/*Aqui estem fent referencia a tots els títols "h1"*/
.art2 {
	font-family: sans-serif;/*Tipus de lletra*/
	font-weight: bold;/*El pes de la lletra (negreta i demés)*/
	color: goldenrod;/*Color de la lletra*/
	background: deepskyblue;/*Color del fons*/
	text-align: center;/*Alienació del text*/
}/*En aquest cas hem utilitzat una classe creada del document .html*/
header, section, aside, footer, nav, article {
	border: 0.5px solid goldenrod;/*Els atributs es poden escriure en linea 0.5px solid ...*/
	display: block;/*Fa referencia a la manera que volem que tracti el document, en aqust cas, 
	en blocs*/
	padding: 15px;
}/*Amb les comas seleccionem varis element alhora*/
.art1 {
	text-align: right;/*Alineació del text*/
}
div {
	background: lightblue;
	margin: 15px auto;/*Fa referencia als bordes del "div", en aquest cas, cap a fora 
	(la part blanca)*/
	width: 100%;/*Fa referencia a l'amplada, del "div" en aquest cas.*/
	padding: 10px;/*Fa referencia als bordes del "div", en aquest cas, desde dins cap a 
	totes direccions*/
	text-align: center;
}
/*Inici estils del nav, ara anomenat, menu*/
.menu {
	background: skyblue;
}
.menu li {
	background: #44D6C0;/*El color turquesa de dins els elements del menu*/
	border: 1px solid white;
	margin: 5px;
	color: brown;
	padding: 5px;
	font: bold 16px sans-serif;
	text-align: left;
	display: inline-block;
}
/*Finalitzen canvis sobre el menu*/
.seccio {
	margin: 20px;
	border: 2px solid white;
	width: 60%;
	float: left;/*Fa flotar els elements*/
}
aside {
	border: 1px solid black;
	margin: 20px;
	width: 23%;
	color: red;
	float: left;
}
footer {
	clear: both;/*Fa que fins aqui, no faci cas a les darreres ordres*/
}